.image {
  position: relative;
  .previewImage {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 100px;
	height: 100px;
	object-fit: contain;
	display: flex;
	flex-wrap: wrap;
  }
}